html,body{
	font-size: 62.5%;
	background-color: #f7f7f7;
}
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	display: block;
	clear:both;
	height: 0;
	content: "";
}
ul{
	list-style: none;
}
.top{
	background-color: white;
}
.top a{
     text-decoration: none;
     font-size: 2rem;
     color: black;
     display: inline-block;
     width: 2rem;
     height: 2rem;
     float: left;
}
.top span img{
	display: block;
	width: 2rem;
	height: 2rem;
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
}
.top{
	color: black;
	font-size: 1.4rem;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
}
.slideShow{
	width: 100%;
    height: 11rem; /*其实就是图片的高度*/
	border: 1px #eeeeee solid;
	margin: auto;
	position: relative;
	overflow: hidden; /*此处需要将溢出框架的图片部分隐藏*/
}
.slideShow ul{
    width:400%;
    position: relative; /*此处需注意relative : 对象不可层叠，但将依据left，right，top，bottom等属性在正常文档流中偏移位置，如果没有这个属性，图片将不可左右移动*/
}
.slideShow ul li{
	float: left; /*让四张图片左浮动，形成并排的横着布局，方便点击按钮时的左移动*/
    width: 25%;
}
.slideShow ul li a img{
	display: inline-block;
	width: 100%;
	height: 12rem;
}
.showNav{ /*用绝对定位给数字按钮进行布局*/
	position: absolute;
	bottom: 0rem;
	text-align:center;
	width:100%;
	font-size: 1.2rem; 
	line-height: 2rem;
}
.slideShow .showNav span{
	cursor: pointer;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: #ccc;
	margin-left: 0.2rem;
	color: #fff;
	border-radius: 50%;
}
.slideShow .showNav .active{
    background: #EEEEEE;
}
.nav{
	height: 10rem;
	border-bottom: 0.01rem solid #ddd;
	background-color: white;
}
.nav ul li {
	line-height: 5rem;
}
.nav ul li a{
	display: inline-block;
	float: left;
	width: 33%;
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	border-right: 0.01rem solid #ddd;
	color: black;
}
.nav ul li:last-child  a{
	border-right: 0rem;
}
.nav ul li p{
	color: #999999;
}
.con p{
	height: 4rem;
	margin-top: 1rem;
	background-color: white;
	border-top:0.01rem solid #ddd;
	border-bottom:0.01rem solid #ddd;
	font-size: 1.4rem;
	line-height: 4rem;
}
.con p i{
	margin-left: 1rem;
}
.go{
	float: right;
	margin-right: 1rem;
	color: #999;
	font-size: 1.6rem;
}