html,body{
	font-size: 62.5%;
	background-color: #f7f7f7;
}
*{
	margin: 0;
	padding: 0;
}
.clearfix:after{
	display: block;
	clear:both;
	height: 0;
	content: "";
}
.top a{
     text-decoration: none;
     font-size: 2rem;
     color: black;
     display: inline-block;
     width: 2rem;
     height: 2rem;
     float: left;
}
.top span img{
	display: block;
	width: 2rem;
	height: 2rem;
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
}
.top{
	color: black;
	font-size: 1.4rem;
	text-align: center;
	height: 5rem;
	line-height: 5rem;
	border-bottom: 0.01rem solid #ccc;
	background-color: white;
}
.con ul{
	list-style: none;
}
.con ul li {
	font-size: 1.4rem;
	border-bottom: 0.01rem solid #ccc;
	height: 4rem;
	line-height: 4rem;
	background-color: white;
}
.con ul li span:nth-child(1){
	float: left;
	margin-left: 1rem;
}
.con ul li span:nth-child(2){
	float: left;
	margin-left: 0.5rem;
	color: #999;
}
.con ul li span:nth-child(3){
	float: right;
	margin-right: 1rem;
	color: #999;
}